.container {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

.auth-box {
  display: flex;
  justify-content: space-between;
}

form {
  border: 1px solid #ccc;
  padding: 20px;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 8px;
  cursor: pointer;
}

.slots {
  list-style: none;
  padding: 0;
}

.slot-card {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}
